@page
@model TallerMec.App.Front.Pages.Usuario.AgendarCita
@{
    ViewData["Title"] = "AgendarCita";
}

<h1>@ViewData["Title"]</h1>

<div>
    <br><br>
    <h6 style="color: red"> <b>Para el agendamiento de una cita, debe existir la información del propietario y del vehículo en el sistema.</b></h6>
</div>

