@page
@model TallerMec.App.Front.Pages.JefeOperaciones.GestionJefeOperaciones
@{

}


<style>
    h1 {
        text-align: center;
        color: blue
    }

    h3 {
        text-decoration: underline;
    }
</style>

<h1>Bienvenido - Jefe de Operaciones</h1>
<br>
<br>
<h3>Información general vehículos registrados:</h3>
<br>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Placa</th>
            <th scope="col">Tipo</th>
            <th scope="col">Modelo</th>
            <th scope="col">Capacidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.ListaVehiculos)
        {
            <tr>
                <td>@v.vehiculoId</td>
                <td>@v.tipoVehiculo</td>
                <td>@v.modelo</td>
                <td>@v.capacidad</td>
            </tr>
        }
    </tbody>
</table>