@page
@model TallerMec.App.Front.Pages.JefeOperaciones.GestionMecanico
@{

}
<style>
    h3{
        text-align: center;
        color: blue
    }
</style>

<h3 class="text-center">REGISTRO MECÁNICO</h3>
<br><br>
<!-- form-control is-valid / is-invalid Como funciona ? -->
<form class="row g-3">
    <div class="col-md-4">
        <label for="validationServer01" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="validationServer01" value="Mark" required>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="validationServer02" value="Otto" required>
        <div class="valid-feedback">
            Correcto!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServerUsername" class="form-label">Usuario</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3"></span>
            <input type="text" class="form-control" id="validationServerUsername"
                aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Ingrese un usario
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer04" class="form-label">Identificación</label>
        <input type="text" class="form-control" id="validationServer04" aria-describedby="validationServer04Feedback"
            required>
        <div id="validationServer04Feedback" class="invalid-feedback">
            Ingrese su id.
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer05" class="form-label">Ciudad</label>
        <select class="form-select" id="validationServer05" aria-describedby="validationServer05Feedback" required>
            <option selected disabled value="">Seleccione...</option>
            <option>Leticia</option>
            <option>Medellín</option>
            <option>Rionegro</option>
            <option>Apartadó</option>
            <option>Turbo</option>
            <option>Caucasia</option>
            <option>Ciudad de Arauca</option>
            <option>Barranquilla</option>
            <option>Bogotá D.C</option>
            <option>Girardot</option>
            <option>Fusagasugá</option>
            <option>Cartagena</option>
            <option>Tunja</option>
            <option>Duitama</option>
            <option>Sogamoso</option>
            <option>Manizales</option>
            <option>Florencia</option>
            <option>Yopal</option>
            <option>Popayán</option>
            <option>Valledupar</option>
            <option>Quibdó</option>
            <option>Montería</option>
            <option>Inírida</option>
            <option>San José</option>
            <option>Neiva</option>
            <option>Riohacha</option>
            <option>Maicao</option>
            <option>Santa Marta</option>
            <option>Ciénaga</option>
            <option>Villavicencio</option>
            <option>Pasto</option>
            <option>Ipiales</option>
            <option>Tumaco</option>
            <option>Cúcuta</option>
            <option>Ocaña</option>
            <option>Pamplona</option>
            <option>Mocoa</option>
            <option>Puerto Asís</option>
            <option>Armenia</option>
            <option>Pereira</option>
            <option>Ciudad de San Andrés</option>
            <option>Bucaramanga</option>
            <option>Barrancabermeja</option>
            <option>San Gil</option>
            <option>Málaga</option>
            <option>Sincelejo</option>
            <option>Ibagué</option>
            <option>Honda</option>
            <option>Cali</option>
            <option>Tuluá</option>
            <option>Palmira</option>
            <option>Buenaventura</option>
            <option>Cartago</option>
            <option>Buga</option>
            <option>Mitú</option>
            <option>Puerto Carreño</option>
        </select>
        <div id="validationServer05Feedback" class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer06" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="validationServer06" aria-describedby="validationServer05Feedback"
            required>
        <div id="validationServer06Feedback" class="invalid-feedback">
            Ingrese una fecha
        </div>
    </div>
    <div class="col-md-8">
        <label for="validationServer07" class="form-label">Correo</label>
        <input type="mail" class="form-control" id="validationServer07" aria-describedby="validationServer07Feedback"
            required>
        <div id="validationServer07Feedback" class="invalid-feedback">
            Ingrese su correo
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationServer08" class="form-label">Célular</label>
        <input type="tel" class="form-control" id="validationServer08" aria-describedby="validationServer08Feedback"
            required>
        <div id="validationServer08Feedback" class="invalid-feedback">
            Ingrese número célular
        </div>
    </div>
    <div class="col-md-8">
        <label for="validationServer07" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="validationServer07" aria-describedby="validationServer07Feedback"
            required>
        <div id="validationServer07Feedback" class="invalid-feedback">
            Ingrese su dirección
        </div>
    </div>
   <div class="col-md-4">
        <label for="validationServer05" class="form-label">Nivel de Estudio</label>
        <select class="form-select" id="validationServer05" aria-describedby="validationServer05Feedback" required>
            <option selected disabled value="">Seleccione...</option>
            <option>Bachiller</option>
            <option>Técnico</option>
            <option>Tecnólogo</option>
        </select>
        <div id="validationServer05Feedback" class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck3"
                aria-describedby="invalidCheck3Feedback" required>
            <label class="form-check-label" for="invalidCheck3">
                Acepta terminos y condiciones
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
                Debe estar de acuerdo antes de continuar
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<br>
<br>
