@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendidos al TallerMec</h1>
    <br>
    <p>Esta es la pagina del <b>TallerMec</b>, estamos trabajando para mejorar.</p>
    <br>
    <img src="/Imagenes/Taller.png" alt="Tallerpng" width="700" height="400">
</div>





